.list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  
  .listItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
  }
  
  .listItem a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
  }
  
  .poster {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
  }
  
  .title {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color:#000
  }